.App {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(14, 15, 16, 0.5), rgba(12, 10, 12, 0.73)),url(./images/blog4.jpg); 
  background-size: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.sections {
  z-index: -1;
  height: 100vh;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.section2 {
  height: 100vh;
  margin: 50px;
  border: 10px solid black;
}